/* main title */
.main-title {
  font-size: 5vw;
  font-weight: bolder;
  padding-top: 60px;
  text-shadow: 1px 1px greenyellow;
}
/* titles animation */
.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
  font-size: 6vw;
  transition: ease-out;
  color: greenyellow;
  padding-top: 1%;
  padding-bottom: 1%;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
  font-size: 6vw;
  transition: ease-in;
  color: greenyellow;
  padding-top: 1%;
  padding-bottom: 1%;
}

@keyframes fade-out{
  from {opacity: 100}
  to {opacity: 0}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 100}
}

/* profile pic */
.profilePic{
  width: 40%;
  height: 30%;
  border-radius: 75px;
  margin-bottom: 1%;
  margin-top: 1%;
}
/* read more button */
.btn-read{
  margin-top: 1%;
  margin-bottom: 1%;
}
/* general text */
.generalText{
  font-size: 3vw;
  color: whitesmoke;
}
/* accomplished list */
.accomplishedList{
  color: greenyellow;
  font-size: 2vw;
  padding-right: 45px;
}

/* titles */
.title-home {
  font-size: 6vw;
  padding-top: 2%;
  padding-bottom: 2%;
  text-shadow: 1px 1px greenyellow;
}



/* sub titles */
.sub-title-home {
  font-size: 4vw;
  /* font-weight: 900; */
  color: black;
}
.stack-des-home{
font-size: 3vw;
color:black;
padding-top: 3%;
}
.desText-home{
  color:black;
  font-size: 2vw;
  font-weight: bolder;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* single block */
.single-block-home{
  display: inline-block;
  width: 30vw;
  margin: 5%;
  background-color: lightgray;
  border-radius: 50px;
  padding: 5px;
  border: 3px solid black;
  transform: scale(1);
  transition: 0.3 ease-in-out;
  box-shadow: 1px 1px 2px 2px greenyellow;
}
.single-block-home:hover{
  transform: scale(1.03);
}
/* single image */
.single-img-home{
  width: 20vw;
  height: 20%;
  /* height: 20vh; */
  box-shadow: 1px 1px 4px 4px black;
  cursor: pointer;
}

/* all buttons */
.btn-home{
  border-radius: 50px;
  margin-bottom: 15px;
  background-color: black;
  border: 2px solid whitesmoke;
  color: greenyellow;
  font-size: 2vw;
  font-weight: bolder;
  padding: 1%;
}
.btn-home:hover{
  background-color: greenyellow;
  color:black;
  border: 2px solid black;
}


/* 

@media (max-width: 1615px){
.single-block-home{
  width: 600px;
}
.single-img-home{
  width: 500px;
  height: 300px;
}
}

@media (max-width: 1404px){
  .single-block-home{
    width: 550px;
  }
  .single-img-home{
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 1300px){
  .single-block-home{
    width: 530px;
  }
 
}
@media (max-width: 1259px){
  .single-block-home{
    width: 500px;
  }
  
  .single-img-home{
    width: 400px;
  }
}
@media (max-width: 1194px){
  .single-block-home{
    width: 450px;
  }
  
  .single-img-home{
    width: 360px;
    height: 260px;
  }
  
 
}
@media (max-width: 1088px){
  .single-block-home{
    width: 430px;
  }
  
  .single-img-home{
    width: 330px;
   
  }
 
}
@media (max-width: 1047px){
  .single-block-home{
    width: 420px;
  }
  
  
}
@media (max-width: 1025px){
  .single-block-home{
    width: 490px;
  }
  .single-img-home{
    width: 360px;
    height: 240px;
  }
 
}
@media (max-width: 580px){
  .single-block-home{
    width: 400px;
  }
  .single-img-home{
    width: 340px;
    height: 240px;
  }
  
 
}


   */
