.icon-img { 
    margin: 15px; 
    width: 35px; 
    height: 35px; 
    background-color: whitesmoke;
}


.icon-img:hover{
    background-color:greenyellow;
  }


@media(max-width: 602px){
  .icon-img { 
    margin-bottom: 30px;
}


}