/* titles */
.title-page {
    font-size: 60px;
    font-weight: bolder;
    color:whitesmoke;
    padding-top: 30px;
    padding-bottom: 20px;
    text-shadow: 1px 1px greenyellow;
    margin-top: 40px;
  }
/* sub titles */
.sub-title-page {
  font-size: 40px;
  font-weight: 900;
  color: black;
  /* text-shadow: 2px 2px black; */
}
.desText-page{
  color:black;
  font-size: 25px;
  font-weight: 900;
  padding-top: 10px;
}

/* single block */
.single-block-page{
    display: inline-block;
    width: 400px;
    margin: 30px;
    background-color: lightgray;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid greenyellow;
    transform: scale(1);
    transition: 0.3 ease-in-out;
  }
.single-block-page:hover{
  transform: scale(1.03);
}
/* single image */
.single-img-page{
  width: 300px;
  height: 200px;
  box-shadow: 2px 2px 4px 4px black;
  cursor: pointer;
}

/* all buttons */
.btn-page{
  border-radius: 50px;
  margin-bottom: 15px;
  background-color: black;
  border: 2px solid whitesmoke;
  color: greenyellow;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
}
.btn-page:hover{
  background-color: greenyellow;
  color:black;
  border: 2px solid black;
}



@media(max-width: 1467px){
  /* single block */
.single-block-page{
  width: 360px;
}

/* single image */
.single-img-page{
  width: 220px;
  height: 170px;
}
.desText-page{
  font-size: 20px;
}
.sub-title-page {
  font-size: 30px;
  font-weight: 900;
  color: black;
}
  }
  @media(max-width: 1342px){
    /* single block */
  .single-block-page{
    width: 340px;
  }
  
    }
    @media(max-width: 1279px){
      /* single block */
    .single-block-page{
      width: 320px;
    }
    
      }
      @media(max-width: 1214px){
        /* single block */
      .single-block-page{
        width: 300px;
      }
      .desText-page{
        font-size: 17px;
      }
      
        }
        @media(max-width: 1151px){
          /* single block */
        .single-block-page{
          width: 400px;
        }
        .desText-page{
          font-size: 25px;
        }
        .single-img-page{
          width: 350px;
          height: 230px;
          box-shadow: 2px 2px 4px 4px black;
          cursor: pointer;
        }
          }
          @media (max-width: 500px){
            .single-block-page{
              width: 350px;
            }
            .single-img-page{
              width: 250px;
              height: 160px;
            }
           
          }