    .progressMainWrapper{
        background-color: black;
        height:5px;
        position: fixed;
        top:0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    
    .progressMainStyle{
        height: 5px;
        background-color: greenyellow;
    }
    
   


/* media query 1200*/
@media (max-width: 1200px){

}

/* media query 992*/
@media (max-width: 992px){

}

/* media query 768*/
@media (max-width: 768px){

}


/* media query 480px */
@media(max-width: 480px){



}